In [2]:
import pandas as pd
import datetime

In [83]:
acc = pd.read_csv("ACC.csv")
eda = pd.read_csv("EDA.csv")
temp = pd.read_csv("TEMP.csv")
hr = pd.read_csv("HR.csv")

In [84]:
acc_timestamp = acc.columns[0]

acc_freq = acc.iloc[0][acc_timestamp]
eda_freq = eda.iloc[0][eda_timestamp]
temp_freq = temp.iloc[0][temp_timestamp]
hr_freq = hr.iloc[0][hr_timestamp]

acc = acc.drop(0)
acc.reset_index(drop=True, inplace=True)

eda = eda.drop(0)
eda.reset_index(drop=True, inplace=True)

temp = temp.drop(0)
temp.reset_index(drop=True, inplace=True)

hr = hr.drop(0)
hr.reset_index(drop=True, inplace=True)

In [85]:
def calculate_timestamp(df,df_freq):
    df_len = df.shape[0]
    df_timestamp = df.columns[0]
    
    timestamp = {}
    for i in range(0,df_len):
        current_time = float(df_timestamp)+i/df_freq
        timestamp[str(current_time)] = df.iloc[i][0]
    return timestamp

In [86]:
acc_len = acc.shape[0]
timestamp = []
for i in range(0,acc_len):
    current_time = float(acc_timestamp)+i/acc_freq
    timestamp.append(str(current_time))

In [88]:
df = pd.DataFrame()
df['timestamp'] = timestamp
df['acc_x'] = acc[acc.columns[0]]
df['acc_y'] = acc[acc.columns[1]]
df['acc_z'] = acc[acc.columns[2]]
df['HR'] = df['timestamp'].map(calculate_timestamp(hr,hr_freq))
df['TEMP'] = df['timestamp'].map(calculate_timestamp(temp,temp_freq))
df['EDA'] = df['timestamp'].map(calculate_timestamp(eda,eda_freq))
df

              timestamp  acc_x  acc_y  acc_z  HR   TEMP      EDA
0          1659761996.0   12.0  -11.0   61.0 NaN  35.79   0.0000
1      1659761996.03125   13.0  -12.0   62.0 NaN    NaN      NaN
2       1659761996.0625   15.0  -14.0   62.0 NaN    NaN      NaN
3      1659761996.09375   13.0  -13.0   61.0 NaN    NaN      NaN
4        1659761996.125    9.0  -13.0   61.0 NaN    NaN      NaN
...                 ...    ...    ...    ...  ..    ...      ...
42799  1659763333.46875   51.0   27.0  -22.0 NaN    NaN      NaN
42800      1659763333.5   51.0   30.0  -24.0 NaN    NaN  10.3106
42801  1659763333.53125   54.0   27.0  -24.0 NaN    NaN      NaN
42802   1659763333.5625   54.0   29.0  -23.0 NaN    NaN      NaN
42803  1659763333.59375   53.0   22.0  -23.0 NaN    NaN      NaN

[42804 rows x 7 columns]